<style>
table,th,td
{
border:1px solid black;
}
</style>
<form action="/form" method="post">
  DutID: <input type="text" name="dutID">
  DutValue: <input type="text" name="dutValue">
  <input type="submit">
</form>
